# Ignorar ambientes e lixo
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
tmp
# Git
.git/
.gitignore

# VSCode ou IDE
.vscode/
.idea/

# Test files, dumps
*.coverage
.coverage.*
htmlcov/
.tox/
.env*
.DS_Store

# Docker
docker-compose.yml