__pycache__
.venv/
.idea/ 
db.sqlite3
client_secret.json
secrets.env
tmp
**/.env*
!.env*.model
!docker/.env
!old/.env.minio
ComputerVision/wound-segmentation/data/Foot_Ulcer_Segmentation_Challenge_256/
ComputerVision/wound-segmentation/data/Foot_Ulcer_Segmentation_Challenge_256/
ComputerVision/wound-segmentation/data/Foot_Ulcer_Segmentation_Challenge_384/
ComputerVision/wound-segmentation/data/Medetec_foot_ulcer_224/
ComputerVision/wound-segmentation/training_history/
# Ignorar virtualenv e arquivos grandes
server-wounds/ComputerVision/wound-segmentation/wound_seg_env/**
*.hdf5
*.so
*.dylibwound_seg_env/
*.hdf5
__pycache__/
*.pyc
