Django==6.0.2
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
psycopg[binary]==3.3.3
google-auth==2.39.0
requests==2.32.3
drf-spectacular==0.28.0
python-dotenv==1.2.1
django-cors-headers==4.3.1
django-storages==1.14.6
boto3==1.43.18
Pillow==12.2.0

# Not used in the current version of the backend
# torch==2.10.0
# torchvision==0.25.0
# pandas==3.0.0
# scikit-learn==1.8.0
# matplotlib==3.10.8
# seaborn==0.13.2
